export PATH=/Users/kelevra/repos/platform/k8s/.venv/bin:$PATH
export VIRTUAL_ENV=/Users/kelevra/repos/platform/k8s/.venv
export KUBECONFIG=~/.kube/ahq/dev.config:~/.kube/ahq/demo.config:~/.kube/config
